

<div class="grid-6 oss-servicios">
    <div class="col">
        <a routerLink="../paso1Tc">
            <mat-card>
                <img src="./assets/img/tarjeta-br.jpg" alt="">
            </mat-card>
        </a>
        <br>
        <p class="oss-desc-small-center">Banregio MÁS - *0279 <br> <i class="material-icons ">attach_money</i><strong> 20,000.00</strong></p>
    </div>

    <div class="col">
        <a routerLink="../paso1Tc">
            <mat-card><img src="./assets/img/tarjeta-br.jpg" alt=""></mat-card>
        </a>
        <br>
        <p class="oss-desc-small-center">Banregio MÁS - *0279 <br> <i class="material-icons md-18">attach_money</i> <strong>20,000.00</strong></p>
    </div>
    <div class="col">
        <a routerLink="../paso1Tc">
            <mat-card><img src="./assets/img/tarjeta-br.jpg" alt=""></mat-card>
        </a>
        <br>
        <p class="oss-desc-small-center">Banregio MÁS - *0279 <br> <i class="material-icons md-18">attach_money</i><strong> 20,000.00</strong></p>
    </div>
    <div class="col">
        <a routerLink="../paso1Tc">
            <mat-card><img src="./assets/img/tarjeta-br.jpg" alt=""></mat-card>
        </a>
        <br>
        <p class="oss-desc-small-center">Banregio MÁS - *0279 <br> <i class="material-icons md-18">attach_money</i><strong> 20,000.00</strong></p>
    </div>

</div>


