<div class="grid">

    <div class="col-4">
        <h2>Pago Servicios</h2>
    </div>
    <div class="col-4">Buscador</div>
    <div class="col-4">
        <p>Enrique Contador
            <mat-icon>account_circle</mat-icon>
            <mat-icon>notifications</mat-icon>
        </p>
    </div>

    <div class="col-12">
        <mat-tab-group>
            <mat-tab label="Recurrentes">
                <app-recurrentes></app-recurrentes>
            </mat-tab>
            <mat-tab label="Tarjetas de crédito">
                <app-tarjetas></app-tarjetas>
            </mat-tab>

            <mat-tab label="Servicios">
                <app-servicios></app-servicios>
            </mat-tab>
            <mat-tab label="Créditos">
                <app-creditos></app-creditos>
            </mat-tab>
            <mat-tab label="Colegios">Colegios</mat-tab>
            <mat-tab label="Impuestos">Impuestos</mat-tab>
            <mat-tab label="Empresariales">Empresariales</mat-tab>
            <mat-tab label="Domiciliación">Domiciliación</mat-tab>
        </mat-tab-group>
    </div>
</div>

<router-outlet></router-outlet>
