.oclulo {
  display: none;
}

.muestra {
  display:block;
}


.emailContennt {
  width: 2000px !important;
  height: 20px !important;
}

.email {
  width: 150px !important;
  height: 10px !important;
  text-align:left;
}

.emailLabel {
  width: 2000px !important;
  height: 20px !important;
  text-align: right;
}
