<div class="grid-1">
    <div class="col-12">
        <div class="oss-titulos-left">
            Llena los datos para tu pago de tarjeta de crédito
        </div>
    </div>
    <div class="col-6_sm-12">
        <div class="oss-desc-left">
            Desde la cuenta o tarjeta
        </div>
        <input type="text">
    </div>
    <div class="col-6 sm-hidden"></div>
    <div class="col-6_sm-12">
        <div class="oss-desc-left">
            Tarjeta a pagar
        </div>
        <div class="oss-desc-right">
            <a href="">Agrega una tarjeta</a>
        </div>
        <input type="text">
    </div>
    <div class="col-4_sm-12">
        <div class="oss-desc-left">
            Tu total a pagar
        </div>
        <input type="text" placeholder="5,000.00"><!-- <i class="material-icons icon-input"> attach_money</i> -->
    </div>
    <div class="col-2 sm-hidden"></div>
    <div class="col-6_sm-12">
        <div class="oss-desc-left">
            Meses a pagar y tasa de interés
        </div>
        <div class="oss-desc-right">
            <a href="">Ver tabla de pagos</a>
        </div>
        <input type="text">
    </div>
    <div class="col-6 sm-hidden"></div>
    <div class="col-6_sm-12">
        <div class="oss-desc-left">
            Descripción (opcional)
        </div>
        <input type="text" placeholder="Mi pago mensual">
    </div>
    <div class="col-12">
        <div class="oss-desc-left">
            ¿Quiéres domiciliar tu pago?
        </div>
        NO  <mat-slide-toggle>SI</mat-slide-toggle>
    </div>
    <div class="col4">
        <a routerLink="../pagos">
            <button class="clear">Cancela tu operación</button>
        </a>
    </div>
    <div class="col4">
        <button class="primary">Agrégalo a tu carrito</button>
        <a routerLink="../paso2Tc">
            <button class="primary outline">Continúa</button>
        </a>
    </div>
    <div class="col4"></div>

</div>
