<div class="grid-1-center">
    <div class="col-6">
        <div class="grid-center">
            <div class="col-9">
                <h1 class="oss-titulos-center">Antes de que continúes, confirma tus datos</h1>
            </div>
            <div class="col-9 rectangle">
                <div class="grid-2">
                    <div class="col pright-30">
                        <p class="oss-desc-small-right">Tarjeta a pagar</p>
                        <h1 class="oss-titulos-right">TDC BANCOMER - ****2332</h1>
                    </div>
                    <div class="col">
                        <p class="oss-desc-small-left">Total a pagar</p>
                        <h1 class="oss-titulos-left"><i class="material-icons oss-icon-sm">attach_money</i>1,450.00 <i class="oss-icon-sm">MXN</i></h1>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="grid-2 oss-tabla-simple">
                    <div class="col ">
                        <p class="oss-desc-small-right">Desde la cuenta o tarjeta</p>
                    </div>
                    <div class="col">
                        <p class="oss-desc-small-left">Cuenta Naranja Negocios - ****1234</p>
                    </div>
                    <div class="col">
                        <p class="oss-desc-small-right">Descripción</p>
                    </div>
                    <div class="col">
                        <p class="oss-desc-small-left">Prueba 1</p>
                    </div>
                </div>
            </div>
            <div class="col-9 rectangle-bgc">
                <div class="grid-3-center">
                    <div class="col-2"></div>
                    <div class="col-4-center">
                        <input class="oss-input-token" type="text" placeholder="ingresa tu token">
                    </div>
                    <div class="col">
                        <a routerLink="../paso3Tc">
                            <button class="primary">Confirmar</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="grid-2-center">
                    <a routerLink="../pagos">
                        <div class="col-2"><button class="clear-red">Cancelar</button></div>
                        </a>

                        <div class="col-2"><button class="clear">Editar</button></div>
                </div>
            </div>
        </div>
    </div>
</div>