<div class="grid-6_sm-2_md-4 oss-servicios">
    <div class="col">
        <a routerLink="../paso1">
            <mat-card>
                <img src="./assets/img/card-sadm.png" alt="">
            </mat-card>
        </a>
        <br>
        <p class="oss-desc-small-center">Agua y Drenaje de Monterrey</p>
    </div>

    <div class="col">
        <a routerLink="../paso1">
            <mat-card><img src="./assets/img/card-axtel.png" alt=""></mat-card>
        </a>
        <br>
        <p class="oss-desc-small-center">AXTEL</p>
    </div>

    <div class="col">
        <a routerLink="../paso1">
            <mat-card><img src="./assets/img/card-cablevision.png" alt=""></mat-card>
        </a>
        <br>
        <p class="oss-desc-small-center">Cablevisión Monterrey</p>
    </div>
    <div class="col">
        <a routerLink="../paso1">
            <mat-card><img src="./assets/img/card-comapa.png" alt=""></mat-card>
        </a>
        <br>
        <p class="oss-desc-small-center">COMAPA de Tampico</p>
    </div>
    <div class="col">
        <a routerLink="../paso1">
            <mat-card><img src="./assets/img/card-cfemty.png" alt=""></mat-card>
        </a>
        <br>
        <p class="oss-desc-small-center">CFE - Comisión Federal de Electricidad</p>
    </div>
    <div class="col">
        <mat-card><img src="./assets/img/card-ecogas.png" alt=""></mat-card>
        <br>
        <p class="oss-desc-small-center">ECOGAS</p>
    </div>
    <!--  -->
    <div class="col">
        <mat-card><a href="pagos/pagos-telmex.html"><img src="./assets/img/card-gas.png" alt=""></a></mat-card>
        <br>
        <p class="oss-desc-small-center">Gas Natural México</p>
    </div>
    <div class="col">
        <mat-card><img src="./assets/img/card-telmexmty.png" alt=""></mat-card>
        <br>
        <p class="oss-desc-small-center">TELMEX</p>
    </div>
    <div class="col">
        <mat-card><img src="./assets/img/card-telnor.png" alt=""></mat-card>
        <br>
        <p class="oss-desc-small-center">TELNOR</p>
    </div>
    <div class="col">
        <mat-card><img src="./assets/img/card-comapa.png" alt=""></mat-card>
        <br>
        <p class="oss-desc-small-center">COMAPA de Tampico</p>
    </div>
    <div class="col">
        <mat-card><img src="./assets/img/card-cfemty.png" alt=""></mat-card>
        <br>
        <p class="oss-desc-small-center">CFE - Comisión Federal de Electricidad</p>
    </div>
    <div class="col">
        <mat-card><img src="./assets/img/card-ecogas.png" alt=""></mat-card>
        <br>
        <p class="oss-desc-small-center">ECOGAS</p>
    </div>
    <!--  -->
    <div class="col">
        <mat-card><a href="pagos/pagos-telmex.html"><img src="./assets/img/card-gas.png" alt=""></a></mat-card>
        <br>
        <p class="oss-desc-small-center">Gas Natural México</p>
    </div>
    <div class="col">
        <mat-card><img src="./assets/img/card-telmexmty.png" alt=""></mat-card>
        <br>
        <p class="oss-desc-small-center">TELMEX</p>
    </div>
    <div class="col">
        <mat-card><img src="./assets/img/card-cablevision.png" alt=""></mat-card>
        <br>
        <p class="oss-desc-small-center">Cablevisión Monterrey</p>
    </div>

</div>
