<div class="grid-5 oss-card">
    <div>
        <a routerLink="../paso1">
            <mat-card><img width="150" src="./assets/img/card-telmex.jpg" alt="">
            </mat-card>
        </a>
        <br>
        <p class="txt-descripcion">Telmex</p>
    </div>

    <div>
        <a routerLink="../paso1">
            <mat-card><img width="150" src="./assets/img/card-liceo.jpg" alt="">
            </mat-card>
        </a>
        <br>
        <p class="txt-descripcion">Colegio Liceo Monterrey</p>
    </div>

    <div>
        <a routerLink="../paso1">
            <mat-card><img width="150" src="./assets/img/card-cfe.jpg" alt=""></mat-card>
        </a>
        <br>
        <p class="txt-descripcion">Comisión Federal de Electricidad</p>
    </div>
    <div>
        <a routerLink="../paso1">
            <mat-card><img width="150" src="./assets/img/card-agua.jpg" alt=""></mat-card>
        </a>
        <br>
        <p class="txt-descripcion">Agua y Drenaje de Monterrey</p>
    </div>
</div>
