<div class="grid">
    <div class="col-7 rectangle-bgc-exito">
        <div class="grid">
            <div class="col-1 oss-txt-right">
                <i class="material-icons oss-icon-lg">check_circle_outline</i>
            </div>
            <div class="col">
                <h1 class="oss-titulos-left-w">Pago exitoso</h1>
                <p class="oss-desc-small-left-w">Tu operación se ha realizado con éxito, gracias por confiar en Banregio.</p>
            </div>
        </div>
    </div>
    <div class="col-7 rectangle-bgc-w">
        <div class="grid-center">
            <div class="col-12">
                <img class="oss-img-center" src="./assets/img/br-k.svg" height="35px" alt="">
                <p class="oss-titulos-center-nobtmp">Recibo de tu pago</p>
            </div>
            <div class="col-11-center">
                <hr class="dashed">
                <hr class="dashed">
            </div>
            <div class="col-12">
                <div class="grid-2">
                    <div class="col-4 oss-txt-right pright-30">
                        <p class="oss-dec-small">Tarjeta a pagar</p>
                    </div>
                    <div class="col">
                        <p class="oss-desc-left">TDC BANCOMER - ****2332</p>
                    </div>
                    <div class="col-4 oss-txt-right pright-30">
                        <p class="oss-dec-small">Tu total a pagar</p>
                    </div>
                    <div class="col">
                        <p class="oss-desc-left"><i class="material-icons oss-icon-sm">attach_money</i> 450.00</p>
                    </div>
                    <div class="col-4 oss-txt-right pright-30">
                        <p class="oss-desc-small">Desde la cuenta</p>
                    </div>
                    <div class="col">
                        <p class="oss-desc-small">Cuenta naranja Negocios - *8776</p>
                    </div>
                    <div class="col-4 oss-txt-right pright-30">
                        <p class="oss-desc-small">Descripción</p>
                    </div>
                    <div class="col">
                        <p class="oss-desc-small">Prueba 1</p>
                    </div>
                    <div class="col-4 oss-txt-right pright-30">
                        <p class="oss-desc-small">Datos de tu operación</p>
                    </div>
                    <div class="col">
                        <p class="oss-desc-small">277738377</p>
                    </div>
                    <div class="col-4 oss-txt-right pright-30">
                        <p class="oss-desc-small">Fecha de operación</p>
                    </div>
                    <div class="col">
                        <p class="oss-desc-small">20 de agosto de 2018 - 10:00 am</p>
                    </div>

                </div>
            </div>
            <div class="col-11-center">
                <hr class="dashed">
            </div>
            <div class="col-center">
                <button class="primary outline">Ocultar detalle</button>
            </div>
        </div>
    </div>
    <!-- end rectangle recibo -->
    <div class="col-7 mtop-20">
        <div class="grid-4">
            <a routerLink="../pagos">
                <div class="col oss-txt-right"><button class="primary">Hacer otro pago</button></div>
            </a>
            <div class="col oss-txt-center"><button class="primary">Imprimir</button></div>
            <div class="col oss-txt-center"><button class="orange outline">Agregar a favoritos <i class="material-icons oss-icon-sm">star</i></button></div>
            <div class="col oss-txt-left"><button class="default">Enviar <i class="material-icons oss-icon-sm">mail</i></button></div>
        </div>
    </div>

</div>
